<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Work Page </title>
  </head>


  <body style="background-color:#fcd6db;">

    <div class="container" style="width:50%;margin:auto; height:20%;">
      <div>
        <h1 class="rounded hset" style="background-color:#8fbc8f; border: 2px solid #5C4033;"> <%= image_tag("star.gif", :class=> "imgset2")%> Work and Skills <%= image_tag("star.gif", :class=> "imgset2")%></h1>
      </div>
      <div class="hset">
        <p>My recent jobs and what I've learned. </p>
      </div>
    </div>

<!-- ----------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------- -->


<div class="container-fluid">

  <div class="row" style="padding-bottom:15px; padding-top:10px;">

    <div class="col-4">
      <div class="card cset">
        <div class="card-header rounded-top" style="background-color:#8FBC8F; font-size:20px;"><i class="fas fa-briefcase"></i> High school/Summer Job</div>
        <div class="card-body rounded-bottom" style="background-color:#F5F5F5">
          <h5 class="card-title" style="color:#5C4033;">HBD Architecture, NY</h5>
          <p class="card-text" style="color:#5C4033; font-size:15px;">From summer 2022 to last summer 2024 I was working at an Architecture Frim. I was considerd an office assiant with many resposnsebiles. My main ones being making spreadsheets for estimates or inventory, digilatzing files, and organizeing pyshcail files. Along with other small things around the office that needed to be done, getting material, and occasilly interacting with clients.</p>
        </div>
      </div>
    </div>

     <div class="col-4">
          <div class="card cset rounded">
            <div class="card-body">
              <%= image_tag("arch.gif", :class=>"d-block w-100")%>
            </div>
          </div>
    </div>

    <div class="col-4">
      <div class="card cset">
        <div class="card-header rounded-top" style="background-color:#8FBC8F; font-size:20px;"><i class="fas fa-book"></i>Skills</div>
      <div class="card-body rounded-bottom" style="background-color:#F5F5F5">
        <p> The skills I've learned/refenfocred were: Organization, Communication, Typing, Data entry, Time managment, Google Suit, and more. I learned a lot while working here. It was my 1st real job in an office and it really gave me a bigger sense of responsibility. 
        </p>
      </div>
      </div>
      
    </div>

  </div>

  <div class="row">
    <div class="col-4" >
       <div class="card cset">
        <div class="card-header rounded-top" style="background-color:#8FBC8F; font-size:20px;"><i class="fas fa-book"></i> Current Job</div>
        <div class="card-body rounded-bottom" style="background-color:#F5F5F5">
          <h5 class="card-title" style="color:#5C4033;"><a href="https://www.conncoll.edu/library-information-technology/libraries/libraries-locations/charles-e-shain-library/" target="_blank">Shain Library</a>, Conn Coll</h5>
          <p class="card-text" style="color:#5C4033; font-size:15px;">In spring 2024 I started working in Shain Library at Conn. I work at the Criulation desk. It's the big desk to the left when you walk in. My job is to be at the desk and help students with any questions or book needs. I will also fullfil any tasks that need to be done regualrly or any new ones given by my supervisor. I will also shelve books and do inventory when needed.</p>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card cset rounded">
        <div class="card-body">
          <%= image_tag("library.gif", :class=>"d-block w-100 gifset")%>
        </div>
      </div>
    </div>

     <div class="col-4">
      <div class="card cset">
        <div class="card-header rounded-top" style="background-color:#8FBC8F; font-size:20px;"><i class="fas fa-book"></i>Skills</div>
      <div class="card-body rounded-bottom" style="background-color:#F5F5F5">
        <p> The skills I've learned/refenfocred were: Organization, Communication, Data entry, Inventory, and more. With this job I've had to do much more communication with others and clients, which has helped me with speaking to others in a more calm matter rather thna feeling anxious. 
        </p>
      </div>
      </div>
      
    </div>

  </div>

</div>


<!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <hr>
    <div class="container text-center">
      <span class="text-muted" style="color:#5C4033;"></span> ! <i class="fas fa-sun"></i> <i class="far fa-moon"></i><i class="fas fa-cat"></i> !
    </div>

  </body>

</html>